using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Text.RegularExpressions;
using System.Threading.Tasks;

namespace ConsoleApp288
{
    class Program
    {
        static void Main(string[] args)
        {
            string pattern = @"([A-Za-z]+)([<\|\\])(.*)([<\|\\])([A-Za-z]+)";
            string input = Console.ReadLine();
               
            Match myMatch = Regex.Match(input, pattern);

            string start = myMatch.Groups[1].Value;
            string end = myMatch.Groups[5].Value;
            string input2 = Console.ReadLine();
            string pattern2 = $@"{start}(.*?){end}";
            StringBuilder builder = new StringBuilder();
            MatchCollection res = Regex.Matches(input2, pattern2);
            foreach (Match m in res)
            {
                builder.Append(m.Groups[1].Value);
            }
            
                Console.Writeline(builder);
               
            }
            
        }
    }

